html { 
  background: linear-gradient(
    teal, #f06d06
  ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	padding: 50px;
	color: teal;
}